@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dosis:wght@200..800&family=Lilita+One&family=Poetsen+One&display=swap');

:root {
    --main-color: #f1e4c3;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body, html {
    height: 100%;
    margin: 0px;
    font-family: Poppins-Regular, sans-serif;
    background-color: #f1e4c3;
    font-family: "Lilita One", sans-serif;
}

.login {
    background-image: url('images/leaves.jpg');
    background-size: cover;
}

body a
{
    text-decoration: none;
    color: #000;
}

header
{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #597e52;
    padding: 28px 12%;
    transition: all .50s ease;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo
{
    display: flex;
    align-items: center;

}

.logo img
{
    width: 40px;
    margin-right: 3px;
    transition: all .50 ease;
}

.logo span
{
    color: #f1e4c3;
    font-size: 1.2rem;
    transition: all .50 ease;
}

.navbar
{
    display: flex;
    margin-top: 15px;
}

.navbar a
{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover
{
    color: var(--main-color);
}

.navbar a.active
{
    color: var(--main-color);
}

.main
{
    display: flex;
    align-items: center;
}

.main a
{
    margin-right: 25px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.main a:hover
{
    color: var(--main-color);
}

#menu-icon
{
    font-size: 35px;
    color: #000;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.container {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerCatalog{
    margin-top: 15px;
    margin-left: 10vh;
    margin-right: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-wrap: wrap;
}

.containerBasic {
    margin-top: 180px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 600px;
    border-radius: 30px;
    box-shadow: 5px 5px 20px darkgrey;
}

.container h1 {
    color: #917a48;
    font-weight: lighter;
}

.containerBasic h1 {
     color: #917a48;
     font-weight: lighter;
 }

.containerText {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: flex-end;
}

.containerText p {
    margin-top: 20px;
    font-family: "Segoe UI";
    font-size: 20px;
}

.actionButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.footer {
    display: flex;
    position: sticky;
    justify-content: center;
    height: 300px;
    align-items: center;
    background-color: #597e52;
}

.footer .contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 150px;
    line-height: 30px;
}

.contain h1 {
    color: #f1e4c3;
    font-weight: lighter;
}

.contain li {
    font-family: "Segoe UI";
    font-weight: bolder;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #597e52;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: "Segoe UI";
    font-size: 15px;
}

button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 15px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.containerText ul {
    line-height: 2vw;
    font-size: 20px;
}

.wrapper{
    margin-top: 140px;
    font-family: "Segoe UI";
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    font-family: "Lilita One", sans-serif;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box box-icon{
    position: absolute;
    left: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    font-family: "Lilita One", sans-serif;
    width: 100%;
    height: 45px;
    background: wheat;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.cardPlant .btn span {
    font-weight: bold;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
}

.register-link p a:hover{
    text-decoration: underline;
}

.card{
    width: 350px;
    background-color: #FFFFFF;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cardPlant{
    width: 350px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 50px;
}
.cardPlant > .btn {
    font-family: "Lilita One", sans-serif;
    width: 60%;
    height: 30px;
    background: #597d52;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #f1e4c3;
    margin-top: 10px;
}

.card img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 5px;
}

.cardPlant img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 5px;
}

.card .details{
    margin: 10px;
}
.card p{
    font-family: "Segoe UI";
}

.card .details p{
    font-family: "Segoe UI";
    font-weight: 600;
}

.cardPlant .details{
    margin: 10px;
}
.cardPlant p{
    font-family: "Segoe UI";
}

.cardPlant .details p{
    font-family: "Segoe UI";
    font-weight: 600;
}

.card .details h2 {
    color: #597e52;
}

.customer-info {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 2vh;
}

.info-item {
    display: flex;
    align-items: center;
}

.info-item b {
    margin-right: 5px;
}

.title {
    margin-top: 180px;
    color: #597e52;
    text-shadow: 0 0 1px #333333;
    font-weight: 200;
    text-align: center;
}

.detail {
    background-image: url("images/leaves.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.containerCatalog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerDetail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
}

.card img {
    width: 30vh;
    height: 30vh;
    border-radius: 100%;
}

.details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
    font-weight: lighter;
}

.details p {
    color: #777;
    margin: 0 0 20px;
}

.customer-info {
    border-top: 1px solid #eee;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-item {
    display: flex;
    justify-content: space-between;
}

.info-item b {
    color: #333;
    font-weight: lighter;
}

.info-item p {
    margin: 0;
    color: #777;
}
